@use './variables' as vars; // 変数を名前空間付きで読み込む






@mixin btn-style {
  position: relative;
  background-color: vars.$fc_main;
  font-size: 18px;
  color: #fff;
  font-family: vars.$sans;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: transform 0.1s;
  width: 450px;
  height: 65px;
  margin: 60px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) skewX(45deg);
    width: 15px;
    height: 3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: right 0.3s ease, border-color 0.3s ease;
  }
  &:hover {
    background-color: #fff;
    color: vars.$fc_main;
    border: solid 1px vars.$fc_main;
      &::after {
      right: 15px; /* ホバーで矢印が右に少し移動 */
      border-color:  vars.$fc_main;/* ホバーで矢印を白に */
    }
  }
  @include sp {
    font-size: vw(16);
    padding: vw(10) vw(20);
    width: 100%;
    height: vw(60);
    margin: vw(40) auto 0;
  }
}
@mixin btn-back {
  font-family: vars.$sans;
  font-size: 16px;
  font-weight: normal;
  width: auto;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  color: #A2A2A2;
  text-decoration: underline;
  background: none;
  text-align: center;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
  @include sp {
    font-size: vw(13);
    margin: vw(20) auto 0;
  }
}
@mixin input-style {
  border: 2px solid #444;
  border-radius: 6px;
  padding: 10px 12px;
  font-family: vars.$sans;
  background: vars.$white !important;
  width: 100%;
  transition: border-color 0.2s;

  &:focus {
    border-color: vars.$color-main;
    outline: none;
  }
}

@mixin form-ttl {
  font-family: vars.$sans;
  font-size: 32px;
  color: #444;
  text-align: center;
  @include sp {
    font-size: vw(24);
  }
}
@mixin form-txt {
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-top: 30px;
  @include sp {
    font-size: vw(15);
    margin-top: vw(10);
  }

}
@mixin step-container {
  width: 740px;
  margin: 0 auto;
  padding: 40px 0 60px;
  @include sp {
    width: 100%;
    padding: vw(20) vw(20) vw(40);
  }
}

@mixin link-style {
  text-decoration: none;
  font-family: vars.$font-hand;
  color: vars.$fc_main;
}




@mixin heading {
  font-family: vars.$heading-font;
  color: vars.$fc-main;
  font-size: 24px;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin cf {
  &:after {
    content: " ";
    display: block;
    clear: both;
  }
}


//////////////////////////////////////////////////////////
// ブレイクポイント
//////////////////////////////////////////////////////////

@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin tb {
  @media print, screen and (max-width: 991px){
    @content;
  }
}

// @include pc
@mixin pc {
  @media screen and (min-width: 769px) {
    @content;
  }
}


//////////////////////////////////////////////////////////
// フォントサイズ
//////////////////////////////////////////////////////////

@function rem($size, $basesize: 16) {
  @return calc($size / $basesize) * 1rem;
}

@function vw($size, $viewport: 375) {
  $rate: calc(100 / $viewport);
  @return calc($size / $viewport) * 100 * 1vw;
}

@mixin content {
  content: '';
  display: block;
  position: absolute;
}
