// カラー
$color-main: #7EA6D8;
$color-pink: #E8B7C7;
$color-red: #e35f5f;
$color-yellow: #F1D599;
$color-green: #A8CBB7;
$color-bg: #F6F5F3;
$color-input-bg: #fcfcfc;
$color-text: #333;

$fc_main: #444;
$fc_link: #5f4b32;
$fc_hover: #c18f5f;
$fc_active: #a57550;
$blue: #01365E;
$green: #4a8f8b;
$red: #e35f5f;
$white: #fcfcfc;

// フォント
/*$base-font: 'Helvetica Neue', Arial, sans-serif;
$heading-font: 'Georgia', serif;*/

// フォント
$font-hand: 'Yomogi', cursive;

$yomogi: 'Yomogi', cursive;

$sans: 'Noto Sans JP', sans-serif;
